.about {
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "img title"
    "img paragraph";
  grid-template-columns: 480px auto;
  background-color: gray;
}
.about__img {
  grid-area: img;
  max-width: 477px;
  text-align: right;
}
.about__title {
  max-width: 475px;
  grid-area: title;
  align-self: end;
}
.about__paragraph {
  max-width: 475px;
  grid-area: paragraph;
}
