.form__title {
  font-size: 32px;
  margin: 0 auto;
  padding: 20px 0px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  max-height: 820px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 2px 10px #0882ff;
  margin-top: 48px;
  border-radius: 30px;
  font-size: 20px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  min-width: 80%;
  padding: 0px;
}

.form__label {
  margin-bottom: 5px;
}

.form__input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid #cfcfcf;
}

.input__text {
  resize: none;
  height: calc(12em + 10px);
}

.form__input:focus {
  outline-color: #0882ff;
  outline-style: solid;
  outline-width: 1px;
}

.form__button {
  padding: 20px;
  background-color: #0882ff;
  color: #ffffff;
  border-radius: 30px;
  margin-bottom: 30px;
  border: none;
  transition: 0.5s ease-in-out;
}

.form__button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #0882ff;
  border: 1px solid #0882ff;
}

@media screen and (max-width: 550px) {
  .form {
    max-width: 320px;
    max-height: 510px;
    font-size: 16px;
  }

  .form__title {
    padding: 10px 0px;
    font-size: 24px;
  }

  .form__input {
    padding: 5px;
    margin-bottom: 10px;
  }

  .input__text {
    height: calc(6em + 5px);
  }

  .form__button {
    padding: 10px;
  }
}

@media screen and (max-width: 370px) {
  .form {
    max-width: 288px;
  }
}
